<!-- https://getbootstrap.com/docs/4.0/components/card/ -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Search</h5>
                    <input type="date">
                    <a href="#" class="btn btn-primary">Search</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6">
            table
        </div>
    </div>
</div>