<form [formGroup]="form" (ngSubmit)="submit()">
    <table>
        <tr formArrayName="orders" *ngFor="let order of ordersFormArray.controls; let i = index">
            <td><input id="male" type="radio" class="custom-control-input" value="male" formControlName="radios">
            </td>
            <td><input type="radio">
                {{ordersData[i].preis2}}
            </td>
            <td><input type="radio" >
                {{ordersData[i].preis3}}
            </td>
            <td><input type="checkbox" [formControlName]="i">
                {{ordersData[i].name}}</td>
        </tr>
    </table>
    <label>


    </label>

    <div *ngIf="!form.valid">At least one order must be selected</div>
    <br>
    <button [disabled]="!form.valid">submit</button>
</form>